//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .audit_form {
    font-family: $mainFont;
    padding: 0 $small;
    width: 100%;
    &__form {
      display: grid;
      grid-gap: $medium;
      grid-template-columns: 100%;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
    }
    &__input {
      display: grid;
      font-size: $medium;
      margin: 0 auto;
      width: 100%;
    }
    &__button {
      font-size: $medium;
      padding: $small;
    }
    &__email {
      font-size: $medium;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .audit_form {
    display: grid;
    max-width: 25vw;
    padding: 0 $medium;
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
