/*
    Small screens - MOBILE
    max-width 640px, small screens
*/

@media only screen {
    .audit_form {
        font-family: $mainFont;
        &__form {
            display: grid;
            grid-gap: $medium;
            grid-template-columns: 100%;
            justify-content: center;
            margin: 0 auto;
            padding: $xlarge $xsmall;
            width: 90%;
        }
        &__input {
            display: grid;
            font-size: $medium;
            margin: 0 auto;
            width: 100%;
        }
        &__button {
            font-size: $medium;
            padding: $small;
            &:disabled {
                background: $mainColor;
                cursor: not-allowed;
                color: white;
                opacity: .5;
            }
        }
        &__email {
            font-size: $medium;
            margin: $xlarge;
            text-align: center;
        }
    }
}

/*
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {}

/*
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {}

/*
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {}

/*
    XXLarge screens
    min-width 1921px, xlarge screens
*/

@media only screen and (min-width: 120.063em) {}
