    /*
        Small screens - MOBILE
        max-width 640px, small screens
    */

    @media only screen {
        #audit_form form {
            display: flex;
            font-family: $secondaryFont;
            flex-flow: column;
            justify-content: space-evenly;
            padding: 0 $medium;
            text-align: center;
        }
        #audit_form .audit_form_input {
            font-size: $medium;
            line-height: $large;
            margin: $xsmall 0;
            padding: $xsmall;
        }
        #audit_form .audit_form_input::placeholder {
            font-weight: bold;
        }
        #audit_form .error {
            font-size: $medium;
            margin: 0;
        }
        #audit_form_button {
            background-color: $blue;
            border-radius: $xsmall;
            color: white;
            font-size: $large;
            margin: 0;
            padding: $xsmall $small;
            text-decoration: none;
            width: 100%;
        }
        #audit_form_button:hover {
            background: darken($blue, 15);
            transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        }
        #audit_form_button:disabled {
            background: darken($blue, 15);
            opacity: .5;
        }
        #audit_form .email {
            font-weight: bold;
            padding: 0 $midlarge;
        }
    }

    /* 
        Medium screens - TABLET
        min-width 641px, medium screens
    */

    @media only screen and (min-width: 40.063em) {}

    /* 
        Large screens - DESKTOP
        min-width 1025px, large screens
    */

    @media only screen and (min-width: 64.063em) {
        #audit_form {
            margin: 0 auto;
            width: 60rem;
        }
        #audit_form .audit_form_input {
            font-size: $medium;
            line-height: $large;
            padding: $xsmall;
        }
    }

    /* 
        XLarge screens
        min-width 1441px, xlarge screens
    */

    @media only screen and (min-width: 90.063em) {}

    /*
        XXLarge screens
        min-width 1921px, xlarge screens
    */

    @media only screen and (min-width: 120.063em) {}