.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.project_modal {
    background: $lightBlue;
    color: white;
    // max-width: 30rem;
    margin: 0 10%;
    outline: none;
    padding: $large;
    text-align: center;
    width: 100%;
}

.project_modal>h3 {
    margin: 0 0 $medium 0;
}

.project_modal>p {
    font-size: 4rem;
    font-weight: 300;
    margin: 0 0 $large 0;
    word-break: break-all;
}