//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .pricing {
    background: radial-gradient(
      circle,
      $secColor 0%,
      darken($mainColor, 20) 100%
    );
    display: grid;
    grid-template-columns: 100%;
    grid-gap: $midlarge;
    padding: $midlarge $small;
    &__package {
      background: white;
      border: 1px solid #bbbbbb;
      border-radius: $xxsmall;
      box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.25);
      display: grid;
      font-family: $mainFont;
      height: fit-content;
      padding: $large;
      text-align: center;

      &-header {
        &-title {
          font-size: $midlarge;
          font-weight: bold;
        }

        &-subtitle {
          color: $midGrey;
          font-family: $secFont;
          font-size: $medium;
          font-weight: bold;
        }

        &-content {
          color: $midGrey;
          font-family: $secFont;
          font-size: $medium;
          margin-top: $midlarge;
        }
      }

      &-cost {
        font-size: $large;
        font-weight: bold;
        margin: $midlarge 0 $small;
      }

      &-content {
        font-family: $secFont;
        font-size: $medium;
      }

      &-button,
      &-link {
        margin: $medium $medium 0;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
  .pricing {
    grid-template-columns: 1fr 1fr 1fr;
    padding: $midlarge 5%;
  }
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .pricing {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $midlarge;
    padding: $xlarge 10%;

    &__package {
      padding: $large;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
