/*
    Small screens - MOBILE
    max-width 640px, small screens
*/

@media only screen {
    #pricing {
        padding: $small 0 $large;
    }
    #pricing>header {
        margin: $large auto;
        text-align: center;
    }
    #pricing>header>h2 {
        font-size: $xlarge;
        margin: 0 $small;
    }
    #pricing .pricing_row {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding: 0 $small 0;
    }
    #pricing .pricing_package {
        border: 1px solid #bbbbbb;
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        margin: $small 0 $midlarge;
        padding: $medium $large $large;
        text-align: center;
    }
    #pricing .pricing_package.most_popular {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0 1rem 3rem 0 rgba(189, 195, 199, 0.6);
        margin: $xlarge 0 $small;
        padding: 0 $large $large;
        position: relative;
    }
    #pricing .price_header>h3 {
        font-size: $large;
        margin: $medium 0 0;
    }
    #pricing .price_header>h5 {
        color: $midGrey;
        font-size: $midlarge;
        margin: 0;
    }
    #pricing .price_header>p {
        color: $midGrey;
        font-size: $midlarge;
        margin: $large 0 $medium;
    }
    #pricing .price_cost>p {
        font-size: $medium;
        margin: $medium 0 0;
    }
    #pricing .price_cost>h2 {
        font-size: $xlarge;
        margin: 0;
    }
    #pricing .price_content>p {
        font-size: $medium;
        margin: $small 0;
    }
    #pricing .popular {
        background: linear-gradient(45deg, $blue 45%, $lightBlue 100%);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        color: white;
        font-size: $midlarge;
        left: 0;
        padding: $small 0;
        position: absolute;
        top: -5rem;
        width: 100%;
        z-index: 2;
    }
}

/* 
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {
    #pricing .pricing_row {
        margin: 0 10%;
    }
}

/* 
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    #pricing .pricing_row {
        flex-flow: row;
        margin: 0 auto;
    }
    #pricing .pricing_package {
        margin: $xlarge $small $midlarge;
        padding: $medium $large $large;
    }
    #pricing .pricing_package.most_popular {
        margin: $xlarge 0 $medium;
        padding: $medium $large 0;
        position: relative;
    }
}

/* 
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {
    #pricing .pricing_row {
        margin: 0 10%;
    }
}

/*
    XXLarge screens
    min-width 1921px, xlarge screens
*/

@media only screen and (min-width: 120.063em) {}