//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .pricing {
        background: radial-gradient(circle, $lightBlue 0%, darken($blue, 20) 100%);
        display: grid;
        grid-template-columns: 100%;
        grid-gap: $medium;
        padding: $midlarge $small;
        &__package {
            background: white;
            border: 1px solid #bbbbbb;
            border-radius: $xxsmall;
            box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.25);
            display: grid;
            font-family: $mainFont;
            padding: $large;
            text-align: center;
            &-header {
                &-title {
                    font-size: $midlarge;
                    font-weight: bold;
                }
                &-subtitle {
                    color: $midGrey;
                    font-family: $secondaryFont;
                    font-size: $medium;
                    font-weight: bold;
                }
                &-content {
                    color: $midGrey;
                    font-family: $secondaryFont;
                    font-size: $medium;
                    margin-top: $large;
                }
            }
        }
    }
}

@media only screen {
    #pricing .pricing_package {
        background: white;
        border: 1px solid #bbbbbb;
        border-radius: $xxsmall;
        display: flex;
        flex-flow: column;
        margin: $small 0 $small;
        padding: $medium $large $large;
        text-align: center;
    }
    #pricing .price_header>h3 {
        font-size: $midlarge;
        margin: $medium 0 0;
    }
    #pricing .price_header>h5 {
        color: $midGrey;
        font-family: $secondaryFont;
        font-size: $medium;
        margin: 0;
    }
    #pricing .price_header>p {
        color: $midGrey;
        font-family: $secondaryFont;
        font-size: $medium;
        margin: $large 0 $medium;
    }
    #pricing .price_cost>h2 {
        font-family: $secondaryFont;
        font-size: $large;
        margin: 0 0 $medium;
    }
    #pricing .price_content>p {
        font-family: $secondaryFont;
        font-size: $medium;
        margin: $small 0 0;
    }
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    #pricing .pricing_package {
        margin: $xlarge $small $midlarge;
        padding: $medium $large $large;
        width: 50rem;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
