//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .team {
        background-color: $lightGrey;
        padding: $large;
        text-align: center;
        &__header {
            color: $fontGrey;
            &-title {
                color: $darkGrey;
                font-family: $mainFont;
                font-size: $large;
                font-weight: 700;
                &-secondary {
                    font-family: $secFont;
                    font-size: $medium;
                    font-weight: lighter;
                    margin-top: $xsmall;
                }
            }
        }
        &__members {
            display: grid;
            margin-top: $medium;
            &-member {
                img {
                    max-height: 30vh;
                    object-fit: scale-down;
                    width: 100%;
                }
                &-name {
                    font-family: $mainFont;
                    font-size: $midlarge;
                    margin-top: $medium;
                }
                &-title {
                    font-family: $secFont;
                    font-size: $medium;
                }
                &-link {
                    margin-top: $small;
                    a {
                        color: $darkGrey;
                        text-decoration: none;
                        &:hover {
                            color: $darkMainColor;
                        }
                    }
                }
            }
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    .team {
        &__members {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
