/*
    Small screens - MOBILE
    max-width 640px, small screens
*/

@media only screen {
    #team {
        background-color: $lightGrey;
        padding: $small 0 $large;
    }
    #team>header {
        color: $fontGrey;
        margin: $large auto;
        text-align: center;
    }
    #team>header>h2 {
        font-family: $mainFont;
        font-size: $xlarge;
        font-weight: 400;
        margin: 0 $small;
    }
    #team>header>h3 {
        font-family: $secondaryFont;
        font-size: $midlarge;
        font-weight: lighter;
        margin: $xsmall $small;
    }
    #team .team_row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #team>.team_row>.team_member {
        display: flex;
        flex-flow: column;
        text-align: center;
        margin: 0 auto;
    }
    #team>.team_row>.team_member>img {
        border: 7px solid white;
        border-radius: 100px;
        margin: 0 auto;
        width: 80%;
    }
    #team>.team_row>.team_member>h4 {
        font-family: $mainFont;
        font-size: $midlarge;
        margin: $small auto;
    }
    #team>.team_row>.team_member>p {
        font-family: $secondaryFont;
        font-size: $medium;
        margin: 0 auto;
    }
    #team>.team_row>.team_member>a {
        color: $darkGrey;
        margin: $small auto;
        text-decoration: none;
    }
    #team>.team_row>.team_member>a:hover {
        color: darken($blue, 10);
    }
}

/*
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {}

/*
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    #team .team_row {
        flex-direction: row;
        justify-content: space-between;
    }
}

/*
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {}

/*
    XXLarge screens
    min-width 1921px, xlarge screens
*/

@media only screen and (min-width: 120.063em) {}
