@import "../variables.scss";
@import "../typography.scss";

//Small screens - MOBILE
@media only screen {
  textarea {
    border: $border;
    border-radius: 5px;
    font-size: $medium;
    padding: $small $xsmall;
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
