@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .landing {
    &__splash {
      align-items: center;
      background-image: url($imagesFolderPath+"/landing_mobile.jpg");
      background-position: center;
      background-size: cover;
      display: grid;
      min-height: 94vh;
      justify-content: center;
      width: 100%;
      &-text {
        color: white;
        font-size: $xlarge;
        font-weight: bold;
        padding-top: 30vh;
        text-align: center;
        text-transform: uppercase;
      }
      &-link {
        align-self: flex-start;
        margin: 0 auto;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {
}
//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
  .landing {
    &__splash {
      background-image: url($imagesFolderPath+"/landing_desktop.jpg");
      display: grid;
      height: 75vh;
      justify-content: center;
      width: 100%;
      &-text {
        font-size: $xxlarge;
        padding-top: 35vh;
      }
      &-link {
        a {
          font-size: $large;
          padding: $medium $large;
        }
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
