@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .audit-form {
    @include font-type();

    padding: 0 $small;
    width: 100%;
    &__form {
      display: grid;
      grid-gap: $medium;
      grid-template-columns: 100%;
      justify-content: center;
      width: 100%;
      &-input {
        display: grid;
        font-size: $medium;
        margin: 0 auto;
        width: 100%;
      }
      &-message {
        @include textarea();
      }
      &-button {
        @include button();
      }
    }
    &__email {
      @include font-type($mainFont, $medium);

      padding-bottom: $small;
      text-align: center;
      &--error {
        border-bottom: $border;
        margin-bottom: $small;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .audit-form {
    display: grid;
    width: 30vw;
    padding: 0 $medium;
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
