@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
@media only screen {
  .project-container {
    display: grid;
    grid-gap: $small;
    grid-template-areas: "project-images" "project-details";
    padding: $small;
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .project-container {
    align-content: center;
    flex: 1 1 auto;
    grid-gap: $medium;
    grid-template-areas: "project-details project-images";
    grid-template-columns: 1fr 1fr;
    padding: 0 5%;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .project-container {
    grid-gap: $xxlarge;
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
  .project-container {
    padding: 0 10%;
  }
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
