@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .carousel {
    background-color: greenyellow;
    position: relative;
    &__slider {
      // background-color: blue;
    }
    &__slide {
      &-image {
        height: 100%;
        object-fit: scale-down;
        width: 100%;
        // background-color: red;
      }
      &-dot {
        background-color: rebeccapurple;
      }
    }
    &__button {
      border: none;
      height: 0;
      width: 0;
      &-chevron {
        position: absolute;
        &::before {
          border-style: solid;
          border-width: $xsmall $xsmall 0 0;
          content: "";
          cursor: pointer;
          display: inline-block;
          height: $midlarge;
          left: 0;
          // position: relative;
          top: 0;
          transform: rotate(-45deg);
          vertical-align: top;
          width: $midlarge;
          z-index: 3;
        }
        &.back::before {
          left: -500;
          transform: rotate(-135deg);
        }
        &.next::before {
          right: 0;
          transform: rotate(45deg);
        }
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
