@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .carousel {
    position: relative;
    &__slide {
      &-image {
        height: 100%;
        object-fit: scale-down;
        width: 100%;
      }
    }
    &__button {
      display: none;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .carousel {
    &__button {
      display: block;
      border: none;
      height: 0;
      position: absolute;
      top: 50%;
      width: 0;
      &-chevron {
        &::before {
          border-style: solid;
          border-width: $xsmall $xsmall 0 0;
          content: "";
          cursor: pointer;
          display: inline-block;
          height: $midlarge;
          left: 0;
          top: 0;
          transform: rotate(-45deg);
          vertical-align: top;
          width: $midlarge;
          z-index: 3;
        }
        &.back::before {
          transform: rotate(-135deg);
        }
        &.next::before {
          transform: rotate(45deg);
        }
      }
      &-back {
        left: -25px;
      }
      &-next {
        right: 5px;
      }
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
