@font-face {
    font-family: 'AtlasGrotesk';
    src: url('AtlasGrotesk.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AtlasGrotesk';
    src: url('AtlasGrotesk.woff') format('woff'), url('AtlasGrotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}