@font-face {
    font-family: 'GroteskLight';
    src: url('GroteskLight.eot');
    src: url('GroteskLight.woff2') format('woff2'), url('GroteskLight.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GroteskLight';
    src: url('GroteskLight.woff') format('woff'), url('GroteskLight.ttf') format('truetype'), url('GroteskLight.svg#GroteskLight') format('svg');
    font-weight: normal;
    font-style: normal;
}