@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
@media only screen {
  .privacy-policy-container {
    padding: $medium;
    &__title {
      @include font-type($mainFont, $midlarge, bold);

      margin-bottom: $medium;
    }
    &__policy-heading {
      @include font-type($secFont, $medium);

      margin: $medium 0 $xsmall;
    }
    &__policy-text {
      line-height: $lineHeight;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
