@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .modal {
    background-color: white;
    display: grid;
    margin: $small;
    justify-items: center;
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
    &__overlay {
      align-items: center;
      background-color: rgba($midGrey, 0.75);
      bottom: 0;
      display: flex;
      height: 100vh;
      justify-content: center;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100vw;
      z-index: 100;
    }
    &__title {
      @include font-type($mainFont, $midlarge);

      margin: $medium 0;
      text-align: center;
    }
    &__close {
      border-top: 1px solid $midGrey;
      display: grid;
      justify-content: center;
      margin-top: $small;
      padding: $medium 0;
      width: 90%;
      &-button {
        @include button();
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .modal {
    height: fit-content;
    margin: $medium;
    width: auto;
    &__title {
      margin: $large $medium $small;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
