@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .navbar {
    align-items: center;
    background-color: $darkGrey;
    display: flex;
    height: $navMenuHeight;
    justify-content: space-between;
    left: 0;
    padding: $small;
    position: sticky;
    top: 0;
    z-index: 100;
    .favicon {
      color: white;
      cursor: pointer;
    }
    &__brand {
      &-link {
        color: white;
        font-size: $midlarge;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    &__links {
      background-color: $mainColor;
      height: 100%;
      padding-top: $large;
      position: fixed;
      right: -$navMenuWidth;
      top: $navMenuHeight;
      transition: right 0.3s ease;
      width: $navMenuWidth;
      &.navbar__links--open {
        right: 0;
      }
    }
    &__link {
      color: white;
      display: block;
      font-size: $medium;
      padding: $small;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
  .navbar {
    &__brand {
      &-link {
        &:hover {
          color: $lightenMainColor;
          transition: color 0.25s ease-in;
        }
      }
    }
    &__toggle {
      display: none;
    }
    &__links {
      align-items: center;
      background-color: inherit;
      display: flex;
      height: inherit;
      padding: 0;
      position: inherit;
      right: inherit;
      top: inherit;
      transition: none;
      width: inherit;
      &-close {
        display: none;
      }
    }
    &__link {
      &:hover {
        color: $lightenMainColor;
        transition: color 0.25s ease-in;
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
