@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .contact-form {
    @include font-type();

    height: 100%;
    width: 100%;
    &__header {
      margin: 0 auto;
      text-align: center;
      &-content {
        display: grid;
        margin: 0 auto;
        text-align: center;
      }
    }
    &__form {
      display: grid;
      grid-gap: $medium;
      grid-template-columns: 100%;
      justify-content: center;
      margin: $medium auto;
      width: 100%;
      &-input {
        display: grid;
        font-size: $medium;
        margin: 0 auto;
        width: 100%;
      }
      &-message {
        @include textarea();
      }
      &-button {
        @include button();
      }
    }
    &__email {
      @include font-type($mainFont, $midlarge);

      padding: $small 0 $medium;
      text-align: center;
      &--error {
        border-bottom: $border;
        margin-bottom: $small;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .contact-form {
    display: grid;
    max-width: 30vw;
    padding: 0 $medium;
    &__email {
      padding: $medium 0;
      text-align: center;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
