@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .footer {
    @include font-type();

    align-items: center;
    background-color: $darkGrey;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: $small;
    text-align: center;
    &__link {
      color: white;
      text-decoration: none;
      &:hover {
        color: $lightenMainColor;
        transition: color 0.5s ease-in;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
