@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .pricing-container {
    background:
      radial-gradient(
        circle,
        $secColor 0%,
        darken($mainColor, 20) 100%
      );
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: 100%;
    grid-gap: $midlarge;
    padding: $midlarge $small;
    &__package {
      background: white;
      border-radius: $xxsmall;
      display: grid;
      padding: $large;
      text-align: center;
      &-header {
        &-title {
          @include font-type($mainFont, $midlarge, bold);

          margin-bottom: $midlarge;
        }
        &-content {
          @include font-type($mainFont);

          color: $midGrey;
        }
      }
      &-cost {
        @include font-type($mainFont, $large, bold);

        margin: $midlarge 0;
      }
      &-content {
        @include font-type($mainFont);

        margin-bottom: $midlarge;
      }
      &-button {
        @include button();
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
  .pricing-container {
    padding: $midlarge 20%;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .pricing-container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: $xlarge 10%;
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
