html {
    font-size: 62.5%;
}

body {
    background: $darkBlue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $mSize;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}