/*
    Small screens - MOBILE
    max-width 640px, small screens
*/

@media only screen {
    * {
        box-sizing: border-box;
        font-family: $secondaryFont;
    }
    html {
        font-size: 62.5%;
    }
    body {
        left: 0;
        overflow-x: hidden;
        position: relative;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    button {
        cursor: pointer;
    }
    .close_modal_span {
        color: $closeIconGrey;
        cursor: pointer;
        font-family: $secondaryFont;
        font-size: $xxlarge;
        font-weight: 300;
    }
}

@media only screen and (min-width: 64.063em) {
    /* page level */
    h3 {
        text-align: inherit;
    }
    /* end page level */
}