// Colors
$lightBlue: #3399ff;
$blue: #0066cc;
$lightGrey: #eeeeee;
$darkGrey: #222222;
//Spacing
$xsmall: 0.6rem;
$small: 1.2rem;
$medium: 1.6rem;
$midlarge: 2.4rem;
$large: 3.2rem;
$xlarge: 4.8rem;
$navMenuWidth: 240px;
$desktopBreakpoint: 45rem;
//Font stuff
// @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$montserratFont: "Montserrat",
Helvetica,
Arial,
sans-serif;
//Body
//font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
//H1-6
//"Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
//Section Topper
//Also italic
//"Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;