// Colors
$offBlack: #20222b;
$offWhite: #a5afd7;
$darkBlue: #333745;
$blue: #3c4251;
$lightBlue: #464b5e;
$purple: #8357c5;
//Spacing
$sSize: 1.2rem;
$mSize: 1.6rem;
$lSize: 3.2rem;
$xlSize: 4.8rem;
$desktopBreakpoint: 45rem;